@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 33% 92%;
    --foreground: 220 25% 10%;
    --card: 220 33% 98%;
    --card-foreground: 220 25% 10%;
    --popover: 220 33% 98%;
    --popover-foreground: 220 25% 10%;
    --primary: 220 39% 27%;
    --primary-foreground: 220 25% 98%;
    --secondary: 220 25% 85%;
    --secondary-foreground: 220 39% 27%;
    --muted: 220 25% 88%;
    --muted-foreground: 220 20% 45%;
    --accent: 180 49% 41%;
    --accent-foreground: 220 25% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 80%;
    --input: 220 20% 85%;
    --ring: 180 49% 41%;
    --chart-1: 220 39% 27%;
    --chart-2: 180 49% 41%;
    --chart-3: 210 40% 48%;
    --chart-4: 200 50% 55%;
    --chart-5: 190 55% 60%;
    --radius: 0.5rem;
    --sidebar-background: 220 33% 98%;
    --sidebar-foreground: 220 25% 10%;
    --sidebar-primary: 220 39% 27%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 33% 90%;
    --sidebar-accent-foreground: 220 39% 27%;
    --sidebar-border: 220 20% 80%;
    --sidebar-ring: 180 49% 41%;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 220 25% 95%;
    --card: 220, 20%, 12%;
    --card-foreground: 220 25% 95%;
    --popover: 220 20% 7%;
    --popover-foreground: 220 25% 95%;
    --primary: 220 25% 95%;
    --primary-foreground: 220 39% 27%;
    --secondary: 220 20% 18%;
    --secondary-foreground: 220 25% 95%;
    --muted: 220 20% 18%;
    --muted-foreground: 220 20% 65%;
    --accent: 180 49% 41%;
    --accent-foreground: 220 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 18%;
    --input: 220 20% 18%;
    --ring: 180 49% 41%;
    --chart-1: 220 25% 95%;
    --chart-2: 180 49% 41%;
    --chart-3: 210 40% 48%;
    --chart-4: 200 50% 55%;
    --chart-5: 190 55% 60%;
    --sidebar-background: 220 20% 12%;
    --sidebar-foreground: 220 25% 95%;
    --sidebar-primary: 180 49% 41%;
    --sidebar-primary-foreground: 220 25% 98%;
    --sidebar-accent: 220 20% 18%;
    --sidebar-accent-foreground: 220 25% 95%;
    --sidebar-border: 220 20% 18%;
    --sidebar-ring: 180 49% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
